<fa-icon [icon]="faTrash"></fa-icon>
<fa-icon [icon]="faEdit"></fa-icon>

<div *ngFor="let task of tasks" (click)="taskClicked(task)">
    {{ task.task }}
</div>

<div class="form-group">
    <select id="selectSprint" class="form-control" (change)=onChangeSelect($event.target.value)>
        <ng-container *ngFor="let sprint of sprints">
            <option [value]="sprint.id"> {{ sprint.sprint }} </option>
        </ng-container>
    </select>
</div>

<div *ngFor="let task of tasks">
    {{ task.task }} <fa-icon [icon]="faTrash" (click)="deleteTask(task)"></fa-icon>
</div>